@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
    --primary: #5196fd;
    --background: #31313a;
    --mid-dark-background: #16161a;
    --dark-background: #1c1c21;
    --background-box-color: rgba(255, 255, 255, 0.05);
    --text: #efefef;
    --scroller-background: #555566;
    --radius: 7px;
}

html, body {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

li, ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: var(--radius)
}

::-webkit-scrollbar:horizontal {
    height: var(--radius)
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroller-background);
    border-radius: var(--radius)
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none
}
