html, body {
    font-family: var(--font-family);
    font-weight: 500;
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--text);
}

* {
    box-sizing: border-box;
    transition: all 0.4s ease;
    margin: 0;
    padding: 0;
}

.block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

ul {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: var(--radius)
}

::-webkit-scrollbar:horizontal {
    height: var(--radius)
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroller-background);
    border-radius: var(--radius)
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none
}
