@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
    --primary: #f44b5a;

    --background: #31313a;
    --mid-dark-background: #16161a;
    --dark-background: #1c1c21;
    --card-background: rgba(49, 49, 58, 0.75);

    --shadow-color: rgba(0, 0, 0, 0.2);

    --lighest-white-overlay: rgba(255, 255, 255, 0.05);
    --light-white-overlay: rgba(255, 255, 255, 0.3);
    --white-overlay: rgba(255, 255, 255, 0.5);

    --text: #efefef;

    --dim-text: #cacaca;
    --dark-text: #a7a5a5;

    --radius: 7px;

    --font-family: Poppins, sans-serif;
}
